

.main-content {
  overflow-x:hidden;
}



.left-arrow  {
  top: 47%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 50px;
  font-weight: lighter;
    -webkit-animation: preloader1 7s infinite;
  animation: preloader1 7s infinite;
}

.right-arrow  {
  top: 42%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 50px;
  font-weight: lighter;
  -webkit-animation: preloader 7s infinite;
  animation: preloader 7s infinite;
  -moz-animation: preloader 7s infinite;
  -o-animation: preloader 7s infinite;
}

@-webkit-keyframes preloader {
  0% {
    -webkit-transform: translate(0, 0) scale(1) ;
    transform: translate(0, 0) scale(1);
    color: white;
  }
  50% {
     -webkit-transform: translate(-50px, 0) scale(1.2) rotate(180deg);
    transform: translate(-50px, 0) scale(1.2) rotate(180deg);
    color: gray;
  }

  100% {
      -webkit-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1);
    color: white;
  }
}

@keyframes preloader {
  0% {
    -webkit-transform: translate(0, 0) scale(1) ;
    transform: translate(0, 0) scale(1);
    color: white;
  }
  50% {
     -webkit-transform: translate(-50px, 0) scale(1.2) rotate(180deg);
    transform: translate(-50px, 0) scale(1.2) rotate(180deg);
    color: gray;
  }

  100% {
      -webkit-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1);
    color: white;
  }
}



.preloader {
  height: 100vh;
  width: 100%;
  background: white;
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
    img {
    padding-bottom: 100px;
    width: 30%;
    -webkit-animation:preload 7s infinite;
    -moz-animation:preload 7s infinite;
    -o-animation:preload 7s infinite;
    animation:preload 7s infinite;
  }
}
.intro-container {
  background: white;
  padding: 0 7.5%;
  position: relative;
  height: 777px;
  overflow: hidden;
  background-attachment:fixed;
  transform-style: preserve-3d;
  perspective: 250px;
  transform: translateZ(-400px);
  -webkit-transform: translateZ(-400px);
  -webkit-perspective: 250px;
  -webkit-transform-style: preserve-3d;
.Dave {
  position: absolute;
  right: 132px;
  z-index: 1;

}

.Dave-logo {
  left: 49px;
  position: absolute;

}




  .links {
    margin: 0;
    z-index: 0;
    padding: 0;
    position: absolute;
    top: 450px;
    left: 220px;
    list-style: none;
    float: left;


    li {
      line-height: 1.5;
      padding-left: 6px;
      margin-top: 0;
      padding-bottom:0;
      padding-top:0;
      position: relative;

      a {
        float: left;
        font-size: 24px;
        text-decoration: none;
        color: rgb(154, 154, 154);
        font-family: 'cooper_hewittbook';
        letter-spacing: 1px;
        position: relative;
        display: block;
        cursor: pointer;
      
        &:hover .line-underneath {
          max-width: 100%;
          opacity: 1;
        }

        span {
          font-family: 'cooper_hewittbold';
          padding-right: 7px;
          padding-left: 0 !important;
        }


      }
    }
  }

  .social-media {
    line-height: 1px;
    position: absolute;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    right: -140px;
    top: 243px;
    width: 493px;
    .line {
      height: 1px;
      width: 162px;
      float: left;
      position: relative;
      background: rgb(154, 154, 154);

    }

   .social {
    margin: 0;
    padding: 0;

      li {
        list-style: none;
        padding-left: 19px;
        position:relative;
        display: inline-block;
        float: right;

        a {
          position: relative;
          display: inline-block;
          text-decoration: none;
          letter-spacing: .5px;
          font-size: 16px;
          font-family: 'cooper_hewittbook';
          color:rgb(154, 154, 154);

          &:hover .line-underneath {
            max-width: 100%;
          }
        }
      
      }

    
    }

  }
}

.top-anchor {
  bottom: 3px !important;
}

.social-side {
  height: 1px !important;
  bottom: -8px !important;
}

.grouping:before,
.grouping:after {
  content:"";
  display: table;
}

.grouping:after {
  clear:both;
}

.underline {
  border-bottom: rgb(154, 154, 154) solid 1px;
  font-family: 'cooper_hewittmedium';
  padding-left: 7px;
  padding-right: 0 !important;
}

.nav-line {
  -webkit-transition: all 200ms ease !important; /* older webkit */
-webkit-transition: all 200ms ease !important; 
   -moz-transition: all 200ms ease !important; 
     -o-transition: all 200ms ease !important; 
        transition: all 200ms ease !important;
}


.line-underneath {
  opacity: 1;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 120%;
  height: 2px;
  max-width: 0;
  background:rgb(154, 154, 154);
-webkit-transition: all 300ms ease; /* older webkit */
-webkit-transition: all 300ms ease; 
   -moz-transition: all 300ms ease; 
     -o-transition: all 300ms ease; 
        transition: all 300ms ease;
}




@media screen and (max-width: 375px) {


}

@media screen and (max-width: 500px) {
  .scrolling {
    height: 100vh;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: mandatory;
  /* older spec implementation */
    scroll-snap-destination: 100% 0%;
    scroll-snap-points-y: repeat(650px);
}
  

  .intro-container {
    height: 100vh;
  }

  .links {
    left: 26% !important;
    float: none;
    top: 25.5% !important;
  }

  .intro-container .links li a {
    font-size: 3.5vw !important;
  }

  .social-media {
    display: none;
  }

  .Dave-logo {
    left: 0 !important;
    top: -11% !important;
    float: none;  
    width: 92% !important;
  }

  .Dave {
    bottom: 0;
    width: 69% !important;
    left: 30% !important;

  }
  .line-underneath {
    display: none;
  }

}


@media screen and (max-width: 900px) {
    .links {
    
    float: none;
    top: 34%;

  }


  .social-media {
    display: none;
  }

  .Dave-logo {
    float: none;  
    width: 700px;
  }

  .Dave {
    bottom: 0;
    width: 370px;
    right: 0;
  }
  .line-underneath {
    display: none;
  }
}
