.projects-container {
  padding: 0 7.5%;
  position: relative;
  background: white;
  height: auto;
  overflow: hidden;


    h5 {
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-weight: bold;
    margin-top: 120px;
    margin-bottom: 18px;
   float: left;
    font-size: 12px;
    width: 50%;

  }

  section {
    max-width: 50%;
    float: left;
    clear: left;

    h1 {
      font-family: 'cooper_hewittheavy';
      font-size: 66px;
      margin: 0;
      padding: 0;

    }

    p {
      font-family: 'cooper_hewittbook';
      font-size: 24px;
      margin: 30px 0;
      line-height: 1.5;
      letter-spacing: 1px;
      span {
        font-family: 'cooper_hewittmedium';
      }
    }
  }

  .project-image {
 
    float:right;
    position: relative;
    width: 43%;
    top: 0;
      transition: all 1s ease-in;
       -webkit-transition: all 1s ease-in;
       -moz-transition: all 1s ease-in;
       -o-transition: all 1s ease-in;
       opacity: 0;
         transform: translateX(50px);
     -webkit-transform: translateX(50px);
     -moz-transform: translateX(50px);
     -o-transform: translateX(50px);

    img {
      width: auto;
      height: auto;
    }
  }

}





@media screen and (max-width: 1100px) {

  .projects-container section {
    width: 100%;
  }
.projects-container .project-image {
    text-align: right;
    right: 0;
    display: flex;
    align-items: center;
    width:50%;
  }

  .projects-container .project-image img {
    width: 100%;
    float: right;
    right: 0;
    margin-bottom: 60px;
  }



  .projects-container section h1 {
    font-size: 30px !important;

  }

  .projects-container section p {
    font-size: 20px;
    width: 100%;
  }
}

@media screen and (max-width: 800px) {




    .projects-container h5 {
    margin-top: 60px !important;
  }

  .projects-container .project-image {
    text-align: right;
    right: 0;
    display: flex;
    align-items: center;
    width:45%;
    margin-bottom: 0px;
  }
    .projects-container section p {
    font-size: 10px;

  }

  .projects-container .project-image {
    
  }
}

