
.cliental .row-fade {
      opacity: 0;
          transform: translateX(-20px);
          -webkit-transform: translateX(-20px);
          transition: all .3s ease-in-out;
          -webkit-transition: all .3s ease-in-out;

          &:nth-child(1) li {
            border-top: 1px black solid;
          }

}

.agency .row-fade {
          opacity: 0;
          transform: translateX(-20px);
          -webkit-transform: translateX(-20px);
          transition: all .3s ease-in-out;
          -webkit-transition: all .3s ease-in-out;

          &:nth-child(1) li {
            border-top: 1px black solid;
          }

          &:nth-child(1) li:last-child {
            border-top: 1px black solid;
          }



}
.service-container {
  padding: 0 7.5%;
  
   h5 {
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-weight: bold;
    margin-top: 120px;
    padding-left: 6px;
    margin-bottom: 18px;

  }

  h1 {
      font-family: 'cooper_hewittheavy';
      font-size: 60px;
      margin: 0;
      padding: 0;
      letter-spacing: 3px;
  }

  .clients {

    h1 {
    margin: 0;
    padding: 0;
    letter-spacing: 3px;


  }

   p {
      width: 60%;
      font-family: 'cooper_hewittbook';
      font-size: 25px;
      margin-top: 18px;
      margin-bottom: 42px;
      font-weight: normal;
    }
  .cliental {
    padding: 0;
    margin-bottom: 96px;


        li {
          float: left;
          padding: 18px 0 18px 10px;
          border-bottom: 1px black solid;
          display: block;
          width: 22.8%;
          font-family: 'cooper_hewittbook';
          letter-spacing: 1px;
          margin-right: 1.5%;
          list-style: none;
          opacity: 0;
          transition: all .4s ease-in-out;
          -webkit-transition: all .4s ease-in-out;

      

            &:nth-child(4n) {
            margin-right: 0;
          }
 

        }

      }
    }



  .agencies {
    clear:both;
    position: relative;

    h1 {
      margin: 0;
      padding: 0;
    }

    p {
      width: 60%;
      font-family: 'cooper_hewittbook';
      font-size: 25px;
      margin-top: 18px;
      margin-bottom: 42px;
    }

  .agency {
    padding: 0;
    margin: 0;

   
        li {
          float: left;
          margin-right: 1.5%;
          padding: 18px 0 18px 10px;
          border-bottom: 1px black solid;
          list-style: none;
          display: block;
          width: 22.8%;
          font-family: 'cooper_hewittbook';
          letter-spacing: 1px;
          opacity: 0;
          transition: all .4s ease-in-out;
          -webkit-transition: all .4s ease-in-out;

          &:nth-child(4n) {
            margin-right: 0;
          }


    
      }
    }

  }
}

@media screen and (max-width: 1108px) {
  .cliental li, .agency li {
    width: 30.5% !important;
  }
  .row-fade li:last-child {
    margin-right: 1.5% !important;
  }

  .cliental .row-fade:first-child li:first-child {
  }
  .cliental .row-fade:first-child li:nth-child(4) {
    border-top: none;
}

.agency .row-fade:first-child li:nth-child(4) {
  border-top: none;
}

.agency .row-fade:nth-child(4) li:last-child {
}

.agency li:nth-child(16) {
  border-bottom: none !important;
}

}
@media screen and (max-width: 900px) {
  .cliental .row-fade:last-child li:nth-child(2) {
  }

  .cliental .row-fade:first-child li:nth-child(3) {
    border-top: none;
  }

   .agency .row-fade:first-child li:nth-child(3) {
    border-top: none;
  }

  .agency .row-fade:last-child li:first-child {

}
.agency li:nth-child(17) {
  border-bottom: none !important;
}

.cliental li:nth-child(30) {
  border-bottom: none !important;
}
.cliental li:nth-child(2n), .agency li:nth-child(2n) {
  float: right !important;
margin-right:0 !important;
}

.cliental {
  margin: 0 auto;
}

.service-container h5 {
  margin-top: 60px;
}


  
.service-container {
}

.service-container p {
  width: 75%;
}
  .cliental li, .agency li {
    width: 45% !important;
    font-size: 10px;
    float: left;
    margin-right:2.4%; 
    position: relative;
  }





  .clients p, .agencies p {
    width: 90% !important;
  }

   .clients h1, .agencies h1 {
    font-size: 30px;
  }



}
  .small-triangle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}
